body {
    background-image: url(images/dinchen-schli-summin.gif);
    background-color: rgb(34, 32, 52);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.button {
 
    color: rgb(255, 2, 2);

    text-align: center;
    font-size: 16px;

    cursor: grab;
  }
  .content {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background: rgba(255, 255, 255, 0.281);
  }.buttoncolor {
    background-color: #daffdf2a;
  }
  a {
    color: #f7eaeae1;
    text-decoration: none;
  }
  p {
    text-align: center;
    color: aliceblue;
  }
 